/*Barra de Rolagem*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb:vertical {
    background: #CB6C3D;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #CB6C3D;
}

body {
    background-color: #dc9c7c;
    background-image: url(bgimage3.png);
    background-repeat: repeat-x;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/*
CSS caixas
*/

.epContainer {
    display: table;
    margin-left: 6px
}

.epContainer ul li {
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 8px;
    width: 183px;
    font-family: "Gill Sans Ultra Bold";
    font-size: 16px;
    color: #1a4a7b
}

.epTitle {

    height: 30px;
    line-height: 30px;
    margin-bottom: 7px;
    text-align: center;
    overflow: hidden;
    color: #1a4a7b
}

.epTitle a {
    color: #1a4a7b
}

.epInf {
    margin-left: 7px;
    color: #5186ae
}

.epiSS {
    border: 1px solid #5388ac;
    margin-top: 7px;
    margin-bottom: 7px
}

.lnVersoes {
    margin-top: 4px
}

.lnVersoes ul li {
    float: left;
    width: 82px;
    margin: 5px 5px 0 0
}

.lnVersoes ul li a {
    float: left;
    background-image: url("bgimage.png");
    background-repeat: repeat-x;
    width: 82px;
    height: 32px;
    line-height: 34px;
    text-align: center;
    font-family: BebasNeue;
    font-size: 24px;
    text-shadow: 0 0 1px #fff
}

.epContainerBox {
    background-color: #faf2cc;
    height: 320px
}

.epContainerBoxRound {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

.epiContainerSombra {
    -moz-box-shadow: 2px 2px 0 #1a4a7b;
    -webkit-box-shadow: 2px 2px 0 #1a4a7b;
    box-shadow: 2px 2px 0 #1a4a7b
}

.boxRound {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px
}

.boxShadowBlack {
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000
}

.boxShadowBlue {
    -moz-box-shadow: 2px 2px 1px #3b6380;
    -webkit-box-shadow: 2px 2px 1px #3b6380;
    box-shadow: 2px 2px 1px #3b6380
}

.boxShadow {
    -moz-box-shadow: 4px 4px 0 #386787;
    -webkit-box-shadow: 4px 4px 0 #386787;
    box-shadow: 4px 4px 0 #386787
}

.boxInnerShadow {
    -moz-box-shadow: 4px 4px 0 #386787, inset 0 0 50px #345a75;
    -webkit-box-shadow: 4px 4px 0 #386787, inset 0 0 50px #345a75;
    box-shadow: outset 4px 4px 0 #386787, inset 0 0 50px #345a75;
}

.lnContainer {
    display: table;
    margin-left: 6px
}

.lnContainer ul li {
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 8px;
    width: 183px;
    font-family: Trebuchet MS;
    font-size: 16px;
    color: #1a4a7b
}

/*
Fim Css punch
*/

#cabecalhotopo {
    width: 1050px;
    height: 518px;
    position: relative;
}

#menutopo {
    margin: auto;
    height: 61px;
    width: 1050px;
    background-image: url(menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#buscatopo {
    height: 43px;
    width: 325px;

    background-repeat: no-repeat;
    background-position: left center;
    z-index: 4;
    position: absolute;
    right: 0px;
    top: 20px;
}

#logo {
    height: 135px;
    width: 369px;
    z-index: 2;
    margin-top: 5px;
    position: relative;
    left: 0px;
}

#seriedestaque {
    position: absolute;
    height: auto;
    width: 619px;
    z-index: 1;
    right: 0px;
    top: 28px;
}

#impact {
    height: 314px;
    width: 424px;
    z-index: -1;
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    left: 10px;
    top: 150px;
}

.containerDiv {
    width: 1050px;
    height: auto;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

div.menu {
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50%;
    font-weight: bold;
    padding-left: 20px;
    position: absolute;
    top: 25%;
    bottom: 25%;

}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

div.busca {
    position: absolute;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 20%;
    width: 80%;
    height: 60%;
    bottom: 20%;
    padding-left: 16px;
}
